<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi">
<head>
<title>GoaH [% goahversion %] - Development</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="themes/[% theme %]/goah.css" />
<link rel="stylesheet" type="text/css" href="themes/[% theme %]/menu.css" />
<link rel="stylesheet" type="text/css" href="themes/[% theme %]/print.css" media="print" />
<link rel="stylesheet" type="text/css" href="themes/[% theme %]/jquery.jnotify.css" />
<script type='text/javascript' src='js/jquery-1.3.2.min.js'></script>
<script type='text/javascript' src='js/jquery.jnotify.js'></script>
<script type='text/javascript' src='js/goah-dyncontent.js'></script>
<script type='text/javascript' src='js/goah-tablet-navi.js'></script>

</head>