[% gettext("Customer .......... ") %][% companyname %]
[% gettext("Action ............ ") %][% action %]
[% gettext("Date .............. ") %][% date %]
[% gettext("Filename .......... ") %][% orig_filename %]
[% gettext("Url ............... ") %][% url %]

[% IF info %][% gettext("File description") %][% END %]
 
[% info %]

