[% gettext("Task ID ........... ") %][% taskid %]
[% gettext("Description ....... ") %][% description %]
[% gettext("Customer .......... ") %][% customername %]
[% gettext("Status ............ ") %][% status %]
[% gettext("Action ............ ") %][% action %]
[% gettext("Creator ........... ") %][% creatorname %]
[% gettext("Assigned to ....... ") %][% assigneename %]

[% IF longdescription %][% gettext("Long description") %][% END %]
 
[% longdescription %]

