[% gettext("Task ID ........... ") %][% taskid %]
[% gettext("Description ....... ") %][% description %]
[% gettext("Customer .......... ") %][% customername %]
[% gettext("Status ............ ") %][% status %]
[% gettext("Creator ........... ") %][% creatorname %]
[% gettext("Assigned to ....... ") %][% assigneename %]

[% gettext("Long description") %]
 
[% longdescription %]

