#navi {
    	width: 173px;
		position: absolute;
    	top: 38px;
    	left: -7px;
		margin: 0px 0 0 10px;
}

#menubtn {
		position: absolute;
    	top: 0px;
    	left: 0px;
}

#menubtn h2 {
    background: transparent url('gfx/bg-menu-header.png') repeat-x 0 0;
    color: #FFF;
    width: 40px;
    height: 35px;
    border: 2px solid #FFF;
    text-indent: 0px;
    text-align: center;
}

#menubtn a {
		display: block;
		width: 40px;
		height: 38px;
    	color: #FFF;
   	font-weight: normal;
		text-decoration: none;
}

#navi h2 {
    	/* background: transparent url('gfx/bg-menu-header.png') repeat-x 0 0;
    	color: #FFF;
    	width: 163px;
    	text-indent: 12px */
    	display: none;
}

#navi ul {
    	margin: 0;
    	padding: 0;
		text-indent: 12px;
    	font-size: small;
    	line-height: 37px;
    	width: 173px;
    	border-left: 2px solid #dae8f1;
    	border-right: 2px solid #dae8f1;
}

#navi ul ul {
		border-bottom: 0px;
		border-left: 0px;
}


#navi li {
    	margin: 0;
    	padding: 0;
    	background-color: #fff;
    	color: #6aa4c6;
		list-style: none;
		width: 173px; /* CSS2-standardin mukaan pakko olla */
}

#active > a {
    	background-color: #dae8f1;
   	font-weight: bold;
}

#navi ul.subcat1 {
		text-indent: 28px;
}

#navi li.subcat1_active > a, li.subcat1_active > a:hover {
    	background: transparent url('gfx/menu-active.png') no-repeat 12px 12px;
}

#navi a {
		display: block;
		width: 173px;
		height: 35px;
    	color: #6aa4c6;
   	font-weight: normal;
		text-decoration: none;
    	border-bottom: 2px solid #dae8f1;
}

#navi a:hover, #navi .current a {
    	background-color: #dae8f1;
}

