@page {
	size: landscape;
}

body {
	margin: 0px; 
	padding: 0px; 
	line-height: 1.4em; 
	word-spacing:1px; 
	letter-spacing:0.2px; 
	font: 11px Arial, Helvetica,"Lucida Grande", serif; 
	color: #000;
	background: none;
}

#contents {
	margin: 0px;
	padding: 0px;
	border: none;
}

#activeinvoices {
	display: none;
}

#moduleheader {
	display: none;
}

form {
	display: none;
}

img {
	display: none;
}

table {
	border: none;
	color: #000;
}

h2 {
	color: #000;
}

h3 {
	color: #000;
}

thead th {
	color: #000;
}

tbody td {
	border: none;
	font-size: 10px;
}

tbody tr {
	border: none;
}

br {
	display: none;
}

#navi, p.naviseparator {
	display: none;
}

#footer {
	display: none;
}
